body {
  background-color: beige;
  color: maroon;
}

.enCours {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.enCours::before {
  display: block;
  content: 'En cours:';
  margin-top: 20px;
}

hr {
  border-color: #ccc;
}

.tac {
  text-align: center;
}