title = "T"
url = "/t"
layout = "basic"
description = "Test d'un composant"
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
    $this->addCss('assets/css/tests.css');
}
?>
==
<div class="container">

    <h1>Page des démos</h1>
    <p>Complément de <a href="/a">/a</p>
    <ul>
        <li><a href="https://octobercms.com/support" target="_blank"><strong>Support OCMS</strong></a></li>
        <li><a href="https://octobercms.com/support/articles/tutorials" target="_blank">Liste des tutos série OB</a>
        </li>
    </ul>

    <h4>Components</h4>


    <h4>Série <strong>OB</strong> (<strong>O</strong>ctober <strong>B</strong>log)</h4>

    <ol>

        <li><a href='/t/ob-1'>OB-1</a>: <b>AffTri</b> - Tri d&apos;une list avec Ajax <strong>et</strong> component
            <b>Weather</b>
            ( < RainLab )</li> <li><a href='/t/ob-2'>OB-2</a>: <b>Blog & Forum</b> ( < RainLab )<br>
        </li>
        <li><a href='/t/ob-3'>OB-3</a>: <b>Mastering Plugin</b> - Database driven ToDo plugin</li>
        <li><a href='/t/ob-4'>OB-4</a>: <b>Static Pages</b> - Bases</li>
        <li><a href='/t/ob-4'>OB-5</a>: <b>Static Pages</b> - Content Blocks & Placeholders</li>
        <li><a href='/t/ob-6'>OB-6</a>: <b>Building client-friendly websites</b> - ...</li>
        <li><a href='/t/ob-7'>OB-7</a>: <b>Intro October</b></li>
        <li><a href='/t/ob-8'>OB-8</a>: <b>Media Manager Introduction</b></li>
        <li><a href='t/ob-9'>OB-9</a>: <b>Translating Content, Messages and Models</b> Plugin RainLab.translate<br>(Lien
            Ajax)</li>
        <li><a href='/t/ob-10'>OB-10</a>: <b>Extending the User plugin</b> - 2 méthodes (Avec ou sans modification de la
            table users</li>
        <li><a href='/t/ob-11'>OB-11</a>: <b>Back-end Relations</b> - Plugin Acme.Crm</li>
        <li><a href='/t/ob-12'>OB-12</a>: <b>Builder Plugin</b> - Rapid App dev (Components/Controller/Models/Menu
            BE/Permissions/Localization)</li>
        <li><a href='/t/ob-13'>OB-13</a>: <b>Using October without a database</b> - Le tuto pour commencer !</li>
        <li><a href='#'>OB-14</a>: <b>Responsive multi-language website</b><br> (Part 1) See below <a
                href="/t/ob-15">part 2</a></li>
        <li><a href='/t/ob-15'>OB-15</a>: <b>Responsive multi-language website</b><br> (Part 2)</li>
        <li><a href='/t/ob-16'>OB-16</a>: <b>Setting up a local environment with Vagrant</b> - Pas utilisé: Préférence
            WepPack</li>
        <li><a href='/t/ob-17'>OB-17</a>: <b>Advanced content marketing and analytics</b> - OCMS pour outil de marketing
        </li>
        <li><a href='/t/ob-18'>OB-18</a>: <b>Watch And Learn Vidéo Serie</b> - 46 vidéos - Movies</li>
        <li><a href='/t/ob-19'>OB-19</a>: <b>Beyond Behaviors</b>
            - Part 1: How MVC works - Controllers</li>
        <li><a href='/t/ob-20'>OB-20</a>: <b>Beyond Behaviors</b> - Part 2: Rendering Lists and Forms by hand</li>
        <li><a href='/t/ob-21'>OB-21</a>: <b>Beyond Behaviors</b> - Part 3: Implementing a nested relationship</li>

        <li class="enCours"><a href='/t/ob-22'>OB-22</a>: <b>Collection of third party resources</b></li>






        <li><a href='/t-01'>T-01</a>: <b>Vehicule</b> - Donne le nom du département d&apos;après son numéro (Ajax)</li>
        <li><a href='/t-02'>T-02</a>: <b>DptList (Réalisé avec Builder)</b> - Liste des départements (Slug disponible
            dans la table)</li>
        //2do 2fix<li><a href='/t-03'>T-03</a>: <b>DptName</b> - Donne le nom du département d&apos;après son numéro
            (Ajax)</li>
        <li><a href='/t-04'>T-04</a>: <b>simpleContact (RainLab)</b> - Liste des départements (Slug disponible dans la
            table)</li>
        <li><a href='/t-05'>T-05</a>: <b>Exemples PHP - DataBase Eloquent</b></li>
        <li><a href='/t-06'>T-06</a>: <b>Exemples JS - Eloquent JS</b></li>

    </ol>


    <h4>Série RN (Release Notes)</h4>
    <p>Souvent: Old fixes... No more need to gérer ici</p>
    <p>Exemples:</p>
    <ol>
        <li>RN-1: <b>Clean up instructions (Build 115)</b></li>
        <li>RN-2: <b>whereHas()</b></li>
        <li>Etc...</li>
    </ol>

    <h3>TODOLI:</h3>
    <ol>
        <li>Install plugin
            <b>https://github.com/anand-patel/oc-wysiwyg-editors</b></li>
        <li>Faire jusqu&apos;à T05 + Pages Dnp & Cf. pr kiki, blandine, etc...</li>
        <li>Faire idem pour tests Pgmation (Avec partie Ajax, VueJS, GGle API, etc...)</li>
        <li>Ajouter liens Forum, etc...</li>
        <li>Cf. Top Bar - Descendre part qd réduite</li>
    </ol>


</div>