title = "OB-16"
url = "/t/ob-16"
layout = "basic"
==
<div class="container">

  <h1>Vagrant</Var></h1>

  <p>Impossible à faire marcher dans Oracle VirtualBox avec <strong>Kubuntu 18.10</strong></p>

</div>