title = "OB-11"
url = "/t/ob-11"
layout = "basic"
description = "Back-end Relations"

==
<?php
function onStart(){
  $this->addCss('assets/css/tests.css');
  // $this['result']=print_r( $var, true);
}
?>
==
<div class="container">

  <h1>Back-end Relations</h1>

  <p>Plugin Acme.Crm (Désactivé / défaut)</p>

  <p>Offerings (With backend user relation) - Brief - Notes - Contacts</p>

</div>