title = "OB-1"
url = "/t/ob-1"
layout = "basic"
description = "Test de components"
is_hidden = 0
show_menu = 0

[affHomeT]

[affTri]

[meteo]
country = "fr"
state = "Nd"
city = "Anzin"
units = "Metric"
==
<div class="container">

    {% component 'affHomeT' %}

    <h2>Component <strong>affTri</strong></h2>
    {% component 'affTri' %}
    
    <h2>Component <strong>meteo</strong></h2>
    {% component 'meteo' %}

</div>