title = "OB-14"
url = "/t/ob-14"
layout = "basic"
description = "Multi(language website"
==
<div class="container">

  <h1>Building a responsive multi-language website (Part 1)</h1>

  <!-- N.B.: Page jamais atteinte -->
  
</div>