title = "OB-22"
url = "/t/ob-22"
layout = "basic"
is_hidden = 0
show_menu = 0
==
<div class="container">
  <h1>Collection of third party resources</h1>
  <p>Source: <a href="https://octobercms.com/support/article/ob-22"
      target="_blank">https://octobercms.com/support/article/ob-22</a></p>

  <div class="article">
    <p>The big collection of tutorial and resource links provided by other websites.</p>
    <h3>Tutorials</h3>
    <ul>
      <li>
        <a href="https://redmarlin.net/blog/post/octobercms-relation-lists-filters-howto" target="_blank">How to use
          relation lists
          with filters</a> <em>September 2018</em></li>
      <li><a href="https://luketowers.ca/blog/how-to-use-laravel-packages-in-october-cms-plugins/" target="_blank">How
          to use Laravel
          Packages in October CMS Plugins</a> <em>January 2017</em></li>
      <li><a href="https://www.sitepoint.com/extending-octobercms-building-a-soft-delete-plugin/"
          target="_blank">Extending OctoberCMS –
          Building a Soft-Delete Plugin</a> <em>November 2016</em></li>
      <li><a href="https://www.sitepoint.com/building-octobercms-form-field-widgets-like-a-pro/"
          target="_blank">Building OctoberCMS
          Form Field Widgets like a Pro</a> <em>February 2016</em></li>
      <li><a href="https://www.sitepoint.com/octobercms-crud-building-a-teamproject-management-plugin/"
          target="_blank">OctoberCMS CRUD
          – Building a Team/Project Management Plugin</a> <em>January 2016</em></li>
      <li><a href="https://www.sitepoint.com/build-octobercms-widget-plugin/" target="_blank">How to Build an OctoberCMS
          Widget
          Plugin</a> <em>January 2015</em></li>
      <li><a href="http://www.sitepoint.com/build-octobercms-theme/" target="_blank">Building a Theme</a> <em>November
          2014</em></li>
      <li><a href="http://www.sitepoint.com/building-octobercms-plugins-google-analytics/" target="_blank">Basics of
          Plugin building</a>
        <em>November 2014</em></li>
      <li><a href="http://www.sitepoint.com/introducing-octobercms-laravel-based-cms/" target="_blank">Introducing
          OctoberCMS – a
          Laravel-based CMS</a> <em>November 2014</em>
      </li>
    </ul>
    <h3>Installation guides</h3>
    <p>Résumé: Rendre php executable en cli pour executer:<br>
      <strong>php artisan october:install</strong><br>
    (Génère les BdD)</p>
    <ul>
      <li><a href="https://leaderinternet.com/blog/how-to-install-october-cms-localhost" target="_blank">Easily install
          October CMS on
          localhost</a> <em>February 2017</em></li>
      <li><a href="https://www.rosehosting.com/blog/how-to-install-october-cms-on-a-centos-7-vps/" target="_blank">How
          to install
          October CMS on a CentOS 7 VPS</a> <em>July 2016</em></li>
      <li><a
          href="https://www.digitalocean.com/community/tutorials/how-to-install-octobercms-on-a-vps-running-ubuntu-14-04"
          target="_blank">Install
          on a VPS running Ubuntu 14.04</a> <em>May 2014</em></li>
      <li><a href="http://erikaybar.name/octobercms-my-first-encounter/" target="_blank">Installation on Homestead</a>
        <em>July
          2014</em></li>
    </ul>
    <h3>Integration guides</h3>
    <ul>
      <li><a href="https://help.blocsapp.com/october-cms/" target="_blank">Integration with Blocs</a> <em>September
          2016</em></li>
      <li><a href="https://snipcart.com/blog/snipcart-octobercms-ecommerce-tutorial-got" target="_blank">October CMS
          E-Commerce
          Tutorial</a> <em>March 2016</em></li>
    </ul>
    <h3>Deployment</h3>
    <ul>
      <li><a href="https://leaderinternet.com/blog/how-to-deploy-octobercms-localhost-to-production" target="_blank">How
          To Deploy
          OctoberCMS From Localhost To Production</a> <em>March 2017</em></li>
    </ul>
  </div>
</div>