title = "OB-4"
url = "/t/ob-4"
layout = "basic"
description = "Static Pages"
==
<div class="container">

  <h1>Static Pages</h1>

  <p>Voir le thème <a href="/be/cms/themes" target="_blank">Static Pages tutorial</a></p>

  <hr>

  <p>Le contenu des Placeholders est stocké dans le code, dans la zône d&apos;informations</p>

</div>