title = "Véhicule"
url = "/t-01"
layout = "basic"
description = "Gestion véhicule"
is_hidden = 0

[vehicules]
==
<div class="container">

  <h1>{{ this.page.title }}</h1>

  {% component 'vehicules' %}

</div>