title = "T03"
url = "/t-02"
layout = "basic"

[builderList ListeDpts]
modelClass = "Grcote7\Dptlist\Models\Dpt"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nom"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="container">
    <h1>Liste des départements</h1>
    {% component 'ListeDpts' %}
</div>