title = "T03"
url = "/t-03"
layout = "basic"
is_hidden = 0
show_menu = 0

[dptName]
==
<?php
use Rainlab\User\Models\User;

function onStart(){
	$this['users']=User::get();
	$user = $this['users'][0];
	$user->username='GrCOTE7';
	// $user->save();
	$this['users']=User::get();
	// echo 'Username: '.$this['users'][0]->username;
}
?>
==
<div class="container">

    <h1>Plugin component "Département"</h1>
    {% component 'dptName' %}


    {% for user in users %}
        <strong>{{ user.name }}</strong> a pour pseudo <strong>{{ user.username }}</strong>.
        <!-- {{user}} -->
    {% endfor %}


</div>