title = "T05"
url = "/t-05"
layout = "basic"
description = "Test composant"
is_hidden = 0
show_menu = 0

[affHomeT]

[php]
==
<?php
function onStart(){
  $this->addCss('assets/css/tests.css');
}
?>
==
<div class="container">

  <h1>Exemples PHP</h1>

  {% component 'php' %}

</div>