title = "T06"
url = "/t-06"
layout = "basic"
description = "JS"
is_hidden = 0
show_menu = 0

[affHomeT]
==
<?php
function onStart(){
  $this->addCss('assets/css/tests.css');
  $this->addJs('assets/js/js.js');
}
?>
==
{% component 'affHomeT' %}

<div class="container">

  <h1>Exemples JS</h1>

  <p id="result"></p>

</div>