<p>You gave an ID of : <?= $myId ?></p>
<!--
  <p data-control="flash-message" data-interval="5" class="success">
    This message is created from a static element. It will go away in 5 seconds.
  </p>
-->
  
<button data-request="onUpdate">Write to log</button>

<hr>

<?= Form::open() ?>
    <?= $widget->render() ?>

    <button data-request="onUpdate3" class="btn btn-primary">
        Write to log
    </button>
<?= Form::close() ?>
