title = "Test"
url = "/test"
layout = "bea"
==
<?php
use Cms\Classes\Page as CmsPage;
use Cms\Classes\Theme;

function onStart(){
  $theme = Theme::getActiveTheme();
  $pages = CmsPage::listInTheme($theme, true);

  $cmsPages = [];
  foreach ($pages as $page) {
      if (!$page->hasComponent('blogPosts'))
          continue;
      $cmsPages[] = $page;
  }
  //$page = CmsPage::loadCached($theme, $item->cmsPage);
  //$this['mavar']=CmsPage::url($page->getBaseFilename());
  $this['mavar']=CmsPage::url($page->getActiveTheme);

   $this->addJs('assets/js/test.js');
}
?>
==
<main id="test">
  <div class="container-fluid">

    <div id="ok">
      Ok
    </div>

    <h2><span id="titreTest" class="" data-toggle="tooltip" data-html="true" data-placement="top" data-animation="true"
    data-original-title='<h4 id="tootipTitle" role="tooltip">Page pour <u><code><b>tests</b></code></u> <em><b>ponctuels</b></em></h4>'>Test</span></h2>

    <hr>
    <div id="rep"></div>

  </div>
</main>

<div id='monP'>URL: {{ mavar }}</div>