title = "Account"
url = "/account"
layout = "basic-layout"
description = "Sign in, registration and Account management"
is_hidden = 0
show_menu = 0

[account]
redirect = "forum"
paramCode = "code"
forceSecure = 0
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>Sign in</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            {% partial account ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}