#loginPage {
  .tac {
    text-align: center;
  }
  .mark {
    // font-style: italic;
    font-weight: bold;
    color: #f00;
    // background-color: yellow;
    font-size: 1.5em;
     
  }
  .noir {
    color: #000;
  }
}
