<div class="panel-body">
    <h3 class="inkBlue">Voici une liste établie par {{ __SELF__.name }} ({{ __SELF__.role }}) {{ dateDue }}:</h3>
    <p class="bigger">['Tortelinis', 'Pennes', 'Nouilles', 'Spaghettis']</p>
    
    <!--
     {{dump(demoAff)}} 
     {{dump(page.dateDue)}} 
    -->
    
</div>

<form
    data-request="{{ __SELF__ }}::onSortList"
    data-request-update="'{{ __SELF__ }}::items': '#result'"
    data-request-success="$('#input-item').val('')">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Composant: Déclenchez l&apos;Action !</h3>
        </div>

        <div class="panel-body" id="actionTrier">
            <div class="input-group">
                <label>Trier la liste</label>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn btn-primary" id="maintenant">Maintenant !</button>
                </span>
            </div>
        </div>

        <div class="panel-body" id="resultat">
            <label>Voici la liste triée</label>
            <div class="scoop" id="result">
                {% partial __SELF__ ~ '::items' items=__SELF__.items %}
            </div>
        </div>
    </div>
</form>
<div id="resultat"></div>

{% put scripts %}
<script>
    $(document).ready(function () {
        // $('#maintenant').click();
        $('#resultat').hide();

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('.panel-title').hide();
            $('#actionTrier').hide();
            $('#resultat').show();
        })
    })
</script>
{% endput %}
