/**
 * Dedans ci-dessous: css de doubleTapToGo()
 * 
 * 
 */


$cheminImages: "/themes/c57/assets/images/";
$coulTitres: #b5e853;
body {
    color: rgb(255, 255, 255); //background-color: rgb(255, 230, 0);
}

#blocLogo {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    background-color: #333;
    border-radius: 7px;
    width: 97%;
    max-width: 1200px;
    margin: 0doc.1 auto 1em;
    padding: 1rem;
    h1,
    h2 {
        text-align: center;
    }
    h2 {
        //padding: 20px 100px;
        font-style: italic;
    }
    #logo {
        //font-size: 1em;
        //line-height: 1;
        //color: red;
        //width: 100%;
        //border: 1px solid yellow;
        //border-radius: 7px;
        //background: url("../../images/logo_150x93_c7.png") no-repeat;
        @media only screen and (max-width: 900px) {
            background-size: 7em;
        }
        @media only screen and (max-width: 700px) {
            background-size: 5em;
            background-position: 10px 70%;
            h1 {
                font-size: 2rem;
            }
        }
        @media only screen and (max-width: 600px) {
            background-position: 10px 70%;
            background-size: 3em;
            h1 {
                font-size: 1.5rem;
            }
        }
        @media only screen and (max-width: 500px) {
            background-position: 10px 70%;
            background-size: 2em;
            h1 {
                font-size: 1.2rem;
            }
        }
    }
    #titre {
        //vertical-align: middle;
        h1 a {
            text-decoration: none;
            color: $coulTitres
        }
        h2 a {
            color: inherit;
            font-weight: normal;
            text-decoration: none;
            text-shadow: none;
            transition: 7s;
            &:hover {
                //color: inherit;
                color: red;
                text-shadow: 0 0 5px $coulTitres;
                transition: .7s;
            }
        }
    }
    #boutons {
        text-align: center; //border: 1px solid red;
        //margin: 2em;
        //padding: 200px;
        .btn-download .icon {
            opacity: 0.9;
            background: url($cheminImages + "download.png") 0 0 no-repeat;
            height: 16px;
        }
        .btn-gh-edit .icon {
            opacity: 0.9;
            background: url($cheminImages + "edit.png") 0 0 no-repeat
        }
        a {
            display: block; //padding: 30px;
            width: 130px;
            color: #0f0; //padding: 0;
            margin: 5px 0;
        }
        @media only screen and (max-width: 587px) {
            background-size: 7em; //border: 2px solid yellow;
            a {
                display: inline-block;
            }
        }
    }
}

.breadcrumb {
    background-color: #222;
    padding: .2em .5em;
    .breadcrumb-item+.breadcrumb-item::before {
        padding-right: 0;
    }
    & a {
        color: rgb(0, 247, 255);
    }
    & a:hover {
        color: rgb(174, 252, 255);
        text-decoration: none;
    }
}

.navbar {
    color: red;
    margin-top: 10px;
    box-shadow: 5px 4px 5px rgb(107, 0, 0);
}

.mask {
    border: 0;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid red;    
    text-align: right;
    display: block;
    width: 10px;
}

a.btn-bouee-16 {
    .icon {
        opacity: 0.9;
        background: url($cheminImages + "bouee-16.png") 0 0 no-repeat;
    }
    color: #eee;
    text-decoration: none;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dashed #b5e853;
    div {
        font-size: .8em;
        padding: 0px 0;
        width: 97%;
        max-width: 1000px;
        margin: 0 auto 40px
    }
}

/*
$couleur: rgb(21, 255, 21);

p {
  color: $couleur;
}
*/

.pageDoc h3+p {
    padding-left: 2em;
}

.tac {
    text-align: center;
}

#doc {
    padding-bottom: 0px;
}

li .active {
    color: red;
    background-color: rgb(6, 55, 129);
    border-radius: 7px;
    padding: 0 10px;
}

.red {
    color: red
}

#doubletop {
    // display:none;

    body {
        /*55555555555555555555*/
        background-color: #f7efeb;
        padding: 1.25em;
        /* 20 */
    }
    #nav {
        width: 60em;
        /* 1000 */
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -30em;
        /* 30 480 */
    }
    #nav>a {
        display: none;
    }
    #nav li {
        position: relative;
    }
    #nav li a {
        color: #fff;
        display: block;
    }
    #nav li a:active {
        background-color: #c00 !important;
    }
    #nav span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent;
        /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em;
        /* 5 */
    }
    /* first level */
    #nav>ul {
        height: 3.75em;
        /* 60 */
        background-color: #e15a1f;
    }
    #nav>ul>li {
        width: 25%;
        height: 100%;
        float: left;
    }
    #nav>ul>li>a {
        height: 100%;
        font-size: 1.5em;
        /* 24 */
        line-height: 2.5em;
        /* 60 (24) */
        text-align: center;
    }
    #nav>ul>li:not( :last-child)>a {
        border-right: 1px solid #cc470d;
    }
    #nav>ul>li:hover>a,
    #nav>ul:not( :hover)>li.active>a {
        background-color: #cc470d;
    }
    /* second level */
    #nav li ul {
        background-color: #cc470d;
        display: none;
        position: absolute;
        top: 100%;
    }
    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
    }
    #nav li:not( :first-child):hover ul {
        left: -1px;
    }
    #nav li ul a {
        font-size: 1.25em;
        /* 20 */
        border-top: 1px solid #e15a1f;
        padding: 0.75em;
        /* 15 (20) */
    }
    #nav li ul li a:hover,
    #nav li ul:not( :hover) li.active a {
        background-color: #e15a1f;
    }
    @media only screen and ( max-width: 62.5em)
    /* 1000 */
        {
        #nav {
            width: 100%;
            position: static;
            margin: 0;
            color: #00f;
        }
    }
    @media only screen and ( max-width: 40em)
    /* 640 */
        {
        html {
            font-size: 75%;
            /* 12 */
        }
        #nav {
            position: relative;
            top: auto;
            left: auto;
        }
        #nav>a {
            width: 3.125em;
            /* 50 */
            height: 3.125em;
            /* 50 */
            text-align: left;
            text-indent: -9999px;
            background-color: #e15a1f;
            position: relative;
        }
        #nav>a:before,
        #nav>a:after {
            position: absolute;
            border: 2px solid #fff;
            top: 35%;
            left: 25%;
            right: 25%;
            content: '';
        }
        #nav>a:after {
            top: 60%;
        }
        #nav:not( :target)>a:first-of-type,
        #nav:target>a:last-of-type {
            display: block;
        }
        /* first level */
        #nav>ul {
            height: auto;
            display: none;
            position: absolute;
            left: 0;
            right: 0;
        }
        #nav:target>ul {
            display: block;
        }
        #nav>ul>li {
            width: 100%;
            float: none;
        }
        #nav>ul>li>a {
            height: auto;
            text-align: left;
            padding: 0 0.833em;
            /* 20 (24) */
        }
        #nav>ul>li:not( :last-child)>a {
            border-right: none;
            border-bottom: 1px solid #cc470d;
        }
        /* second level */
        #nav li ul {
            position: static;
            padding: 1.25em;
            /* 20 */
            padding-top: 0;
        }
    }
    body {
        background-color: #f7efeb;
        padding: 1.25em;
        /* 20 */
    }
    #nav {
        width: 60em;
        /* 1000 */
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -30em;
        /* 30 480 */
    }
    #nav>a {
        display: none;
    }
    #nav li {
        position: relative;
    }
    #nav li a {
        color: #fff;
        display: block;
    }
    #nav li a:active {
        background-color: #c00 !important;
    }
    #nav span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent;
        /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em;
        /* 5 */
    }
    /* first level */
    #nav>ul {
        height: 3.75em;
        /* 60 */
        background-color: #e15a1f;
    }
    #nav>ul>li {
        width: 25%;
        height: 100%;
        float: left;
    }
    #nav>ul>li>a {
        height: 100%;
        font-size: 1.5em;
        /* 24 */
        line-height: 2.5em;
        /* 60 (24) */
        text-align: center;
    }
    #nav>ul>li:not( :last-child)>a {
        border-right: 1px solid #cc470d;
    }
    #nav>ul>li:hover>a,
    #nav>ul:not( :hover)>li.active>a {
        background-color: #cc470d;
    }
    /* second level */
    #nav li ul {
        background-color: #cc470d;
        display: none;
        position: absolute;
        top: 100%;
    }
    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
    }
    #nav li:not( :first-child):hover ul {
        left: -1px;
    }
    #nav li ul a {
        font-size: 1.25em;
        /* 20 */
        border-top: 1px solid #e15a1f;
        padding: 0.75em;
        /* 15 (20) */
    }
    #nav li ul li a:hover,
    #nav li ul:not( :hover) li.active a {
        background-color: #e15a1f;
    }
    @media only screen and ( max-width: 62.5em)
    /* 1000 */
        {
        #nav {
            width: 100%;
            position: static;
            margin: 0;
            color: red;
        }
    }
    @media only screen and ( max-width: 40em)
    /* 640 */
        {
        html {
            font-size: 75%;
            /* 12 */
            color: blue;
        }
        #nav {
            position: relative;
            top: auto;
            left: auto;
        }
        #nav>a {
            width: 3.125em;
            /* 50 */
            height: 3.125em;
            /* 50 */
            text-align: left;
            text-indent: -9999px;
            background-color: #e15a1f;
            position: relative;
        }
        #nav>a:before,
        #nav>a:after {
            position: absolute;
            border: 2px solid #fff;
            top: 35%;
            left: 25%;
            right: 25%;
            content: '';
        }
        #nav>a:after {
            top: 60%;
        }
        #nav:not( :target)>a:first-of-type,
        #nav:target>a:last-of-type {
            display: block;
        }
        /* first level */
        #nav>ul {
            height: auto;
            display: none;
            position: absolute;
            left: 0;
            right: 0;
        }
        #nav:target>ul {
            display: block;
        }
        #nav>ul>li {
            width: 100%;
            float: none;
        }
        #nav>ul>li>a {
            height: auto;
            text-align: left;
            padding: 0 0.833em;
            /* 20 (24) */
        }
        #nav>ul>li:not( :last-child)>a {
            border-right: none;
            border-bottom: 1px solid #cc470d;
        }
        /* second level */
        #nav li ul {
            position: static;
            padding: 1.25em;
            /* 20 */
            padding-top: 0;
        }
    }
}