title = "Blog"
url = "/blog/:page?/"
layout = "default"
is_hidden = 0
show_menu = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="row">
    <div class="col-sm-8">
        {% component 'blogPosts' %}
    </div>
    <div class="col-sm-4">
        {% component 'blogCategories' %}
    </div>
</div>