title = "Uuu"
url = "/uuu"
layout = "basic"
is_hidden = 0
show_menu = 0

[todoList]
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Plugin components</h1>
                <p>Simple plugin todoList</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% component 'todoList' %}
</div>