[viewBag]
title = "Serveur Local"
url = "/doc/outils/serveur-local"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1>AMPPS</h1>

<h4><strong>A</strong>pache <strong>M</strong>ySQL <strong>P</strong>HP <strong>P</strong>ython <strong>S</strong>oftalicious) est un environnement de développement web gratuit</h4>

<p>Très bonne référence: <a href="https://www.tech-connect.info/tutoriels/creer-des-sites-en-local-avec-ampps/320" target="_blank">Présentation de AMPPS par Tech-Connect</a></p>

<p>Avantage: Python &amp; Softaculous inclus</p>

<p>Inconvénient: Dysfonctionnement de quelques features dans Kubuntu</p>

<p>
	<br>
</p>

<h1>LAMPP</h1>

<h4><strong>L</strong>inux <strong>A</strong>pache <strong>M</strong>ySQL <strong>P</strong>HP est un environnement de développement web robuste et gratuit, notre choix</h4>

<p><a href="https://www.apachefriends.org/download.html" rel="noopener noreferrer" target="_blank">Lien de téléchargement</a></p>

<p>Avantage: Fiabilité des services et complète compatibilité avec Kubuntu</p>

<p>Inconvénient: /</p>

<h4><strong>Astuces:</strong></h4>
<hr>

<h2>Start automatique de lampp</h2>

<p><span>1. Créer un script dans /etc/init.d, nommé lampp</span></p><pre>sudo nano /etc/init.d/lampp</pre>

<p><span>2. Y coller le code-ci-dessous et sauvegarder</span></p><pre><span>#!/bin/bash</span><br>### BEGIN INIT INFO<br><span># Provides: lampp</span><br># Required-Start: &nbsp; &nbsp;$local_fs $syslog $remote_fs dbus<br><span># Required-Stop: &nbsp; &nbsp; $local_fs $syslog $remote_fs</span><br># Default-Start: &nbsp; &nbsp; 2 3 4 5<br><span># Default-Stop: &nbsp; &nbsp; &nbsp;0 1 6</span><br># Short-Description: Start lampp<br><span>### END INIT INFO</span><br>/opt/lampp/lampp start</pre>

<p><span>3. Attribuer les permissions d'execution à ce fichier</span></p><pre>sudo chmod +x /etc/init.d/lampp</pre>

<p><span>4. Utiliser update-rc.d pour installer les scripts d'initialisation pour tous niveaux en tapant cette commande</span></p><pre>sudo update-rc.d lampp defaults</pre>

<p>Important: <strong>Éteindre et rallumer le système</strong></p>
<hr>

<h2><span>PHP + MySQL CLI (= En console)</span></h2>

<p>Dans le fichier /etc/bash.bashrc,&nbsp;</p><pre>sudo nano /etc/bash.bashrc</pre>

<p>ajouter cette ligne de code à la fin</p><pre><span>export PATH=/opt/lampp/bin:$PATH</span></pre>
<hr>

<h2>Commande pour executer du code PHP en CLI</h2>

<p>En console:</p><pre><span>php -r 'print_r("Salut\n");'</span></pre>
<hr>

<h2>VirtualHost</h2>

<p>Exemple sous linux:</p>

<p>/etc/<strong>hosts</strong></p><pre>127.0.0.1 &nbsp; &nbsp; pma<br>127.0.0.1 &nbsp; &nbsp; c57</pre>

<p>/opt/lampp/apache2/conf/<strong>httpd.conf</strong>&nbsp;</p><pre>&lt;VirtualHost *:80&gt;<br>&nbsp; &nbsp; &nbsp;ServerAdmin webmaster@localhost<br>&nbsp; &nbsp; &nbsp;DocumentRoot "/opt/lampp/htdocs"<br>&nbsp; &nbsp; &nbsp;ServerName localhost<br>&nbsp; &nbsp; &nbsp;ErrorLog "logs/localhost-error_log"<br>&nbsp; &nbsp; &nbsp;CustomLog "logs/localhost-access_log" common<br>&nbsp; &nbsp; &nbsp;&lt;Directory "/opt/lampp/htdocs"&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Options FollowSymLinks Indexes<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; AllowOverride All<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Order deny,allow<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; allow from All<br>&nbsp; &nbsp; &nbsp;&lt;/Directory&gt;<br>&lt;/VirtualHost&gt;<br><br>&lt;VirtualHost *:80&gt;<br>&nbsp; &nbsp; &nbsp;ServerAdmin webmaster@pma<br>&nbsp; &nbsp; &nbsp;DocumentRoot "/opt/lampp/phpmyadmin"<br>&nbsp; &nbsp; &nbsp;ServerName pma<br>&nbsp; &nbsp; &nbsp;ErrorLog "logs/sitetest-error_log"<br>&nbsp; &nbsp; &nbsp;CustomLog "logs/sitetest-access_log" common<br>&nbsp; &nbsp; &nbsp;&lt;Directory "/opt/lampp/phpmyadmin"&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Options FollowSymLinks Indexes<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; AllowOverride All<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Order deny,allow<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; allow from All<br>&nbsp; &nbsp; &nbsp;&lt;/Directory&gt;<br>&lt;/VirtualHost&gt;<br><br>&lt;VirtualHost *:80&gt;<br>&nbsp; &nbsp; &nbsp;ServerAdmin webmaster@c57<br>&nbsp; &nbsp; &nbsp;DocumentRoot "/opt/lampp/htdocs/c57"<br>&nbsp; &nbsp; &nbsp;ServerName c57<br>&nbsp; &nbsp; &nbsp;ErrorLog "logs/localhost-error_log"<br>&nbsp; &nbsp; &nbsp;CustomLog "logs/localhost-access_log" common<br>&nbsp; &nbsp; &nbsp;&lt;Directory "/opt/lampp/htdocs/c57"&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Options FollowSymLinks Indexes<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; AllowOverride All<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Order deny,allow<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; allow from All<br>&nbsp; &nbsp; &nbsp;&lt;/Directory&gt;<br>&lt;/VirtualHost&gt;</pre>
<hr>

<h2>Mémo infos utiles</h2>

<p><a href="http://www.desmoulins.fr/index.php?pg=informatique!linux!xampp" rel="noopener noreferrer" target="_blank">Blog Desmoulins</a></p>
<hr>

<h2>Droits par défaut pour MySQL</h2><pre>sudo chmod 755 /opt/lampp/etc/my.cnf<br>sudo chmod 777 /opt/lampp/var/mysql -R<br>sudo /opt/lampp/lampp restart</pre>
<hr>

<h2>PhpMyAdmin</h2>

<p>Augmenter la limite de temps d'exécution pour import/export:
	<br>Dans le fichier htdocs/phpmyadmin/<strong>config.inc.php</strong>, ajouter une dernière ligne:</p><pre>$cfg['ExecTimeLimit']=0; //0 : infini</pre>