[viewBag]
title = "JS"
url = "/doc/tests/js"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<p>Exemple minimaliste d'un code js - Cliquer sur le bouton !</p>

<button class="success button" id="demo" onclick="myFunction()">Nombre de caractères dans la chaîne "Hello World!"</button>

<script>
function myFunction() {
  var str = "Hello World!";
  var n = str.length;
  document.getElementById("demo").innerHTML = n;
}
</script>