[viewBag]
title = "Tests(Arch)"
url = "/doc/tests"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
meta_description = "(Archives de tests)"
==

<div class="row">
  <div class="columns">
    <ul class="accordion" data-accordion>

      <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Principe</a>
        <div class="accordion-content" data-tab-content >
          <p>Dans cette rubriques divers tests peuvent être posés ci-dessous, mais idéalement dans la sous-page la plus appropriée.</p>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Création de pages dans la Doc de c57</a>
        <div class="accordion-content" data-tab-content>
          <p>Rappel pour facilement créer une nouvelle page: Utiliser le BackEnd: </p>
          <p><code>http://c57/be</code></p>
          <p>Bien-sûr possibilité de procéder au niveau des fichiers avec votre VSC. Dans ce cas, penser à adapter aussi le fichier</p>
          <p><code>themes/c57/meta/static-pages.yaml</code></p>

          
          <p>Référence: <a href="./installation-serveur/edition-c57" class="nofd">Édition de c57</a></p>
        </div>
      </li>

    </ul>
  </div>
</div>
