<!--
  {% set tasks = __SELF__.tasks %}
  {{ dump(tasks) }} 
-->

<form 
  data-request="{{ __SELF__ }}::onAddItem" 
  data-request-success="$('#inputItem').val('')" 
  data-request-update="'{{ __SELF__ }}::tasks': '#result'"
>
  
  <!-- {{ dump(todoList)}} -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tâches assignées à: <strong>{{ __SELF__.name }}</strong></h3>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <input name="task" type="text" id="inputItem" class="form-control" value="">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add</button>
        </span>
      </div>
      <br>
      <ul class="list-group" id="result">
        {% partial __SELF__ ~ '::tasks' tasks=__SELF__.tasks %}
      </ul>
    </div>
  </div>

</form>