/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  //background: #fff;
  //color: #566b78;
  //color: blue;
}

.container {
  max-width: 40em;
  margin: 0 2%;
}

* {
  box-sizing: border-box;
}

a {
  color: #ff4900;
}

/*
|--------------------------------------------------------------------------
| Gallery
|--------------------------------------------------------------------------
*/

.gallery {
  padding: 20px 15px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
  li {
    float: left;
    margin: 5px;
  }

  img, a {
    display: block;
  }
}

/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
*/

form {
  margin-top: 20px;

}

input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form textarea {
  height: 200px;
}

form button {
  border: none;
  background: #E41C4E;
  padding: 15px 40px 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  transition: 7s;
}

form button:hover {
  color: #550000;
  background-color: tomato;
  cursor: pointer;
  transition: 1.5s;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

.clr {
  content: "test";
}

.flash {
  padding: 20px;
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  display: none;

  &.active {
    display: block;
  }

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;

  &.error {
    background: red;
  }

  &.success {
    background: limegreen;
  }
}

.red {
  color: red;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

h3.topspace10 {
  margin-top: 10px;
}
