title = "Blandine"
url = "/z/blandine"
layout = "basic"
is_hidden = 0
show_menu = 0
==
<div class="container">
    <div class="row">
        <div>
            <h1>J'aime chanter !</h1>
            <p>Chanter, danser, jouer de la zik, c'est merveilleux !
                Vive la vie !</p>
            <p>J'aime écrire des poèmes ; ça me vient tout seul ! :-)
                Et je suis bien avec Lionel ! Je me sens bien !</p>

            <p>J'ai adoré chanter avec lui et je trouve que nos voix s'accordent.
                Une joie, un moment, une chanson, un rien et je suis bien !</p>
        </div>
        <h1>Super !</h1>
        <p>04/2017</p>
    </div>
</div>