[viewBag]
==
{% if __SELF__.menuItems %}

<!--
############################### GC7 ###############################
-->

<div id="doubletop">
  <navgc7 id="nav" role="navigation">
    <a href="#nav" title="Show navigation">Show navigation</a>
    <a href="#" title="Hide navigation">Hide navigation</a>
    <ul class="clearfix">
        {% partial __SELF__ ~ "::items" items=__SELF__.menuItems %}
    </ul>
  </navgc7>
</div>


{% endif %}