title = "Login"
url = "/login/:code?"
layout = "bea"
description = "Page de login dans le B.E.A. de c57"
meta_title = "Login B.A.E. c57"
meta_description = "Page de login dans le B.E.A. de c57"
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
    // $this->page['oki']=789;
    // $this['oki2']=456;
}
?>
==
<div id="loginPage">

  <br>
  <div class="header tac">
    <p class="mark">Attention: Partie en cours de developpement <i class="far fa-1x fa-smile-wink"></i></p>
    <br>

    <section class="card card-cascade narrower mb-5">

      <div class="view py-3 gradient-card-header info-color-dark">
        <h5 class="mb-0">S&apos;identifier</h5>
      </div>
      <br><br>


      {#
      <hr> #}
      {# {{this.page.oki}}<br> #}
      {# {{oki2}} #}

      {% if not user %}

      <h1>Besoin de login</h1>

      {% else %}
      <h2>Loggé !</h2>

      {% partial account ~ '::activation_check' %}

      {% partial account ~ '::update' %}

      {% partial account ~ '::deactivate_link' %}

      {% endif %}

      <div class="container">
        <h3>// 2Do:
        </h3>
        <ul>
          <li>Add CSS que pour cette page</li>
          <li>Add lien lost PW</li>
        </ul>
      </div>
      <hr>
  </div>
  </section>
</div>