<div class="weather-widget">
    {% if weatherInfo.message %}
    <p class="error">{{ weatherInfo.message }}</p>
{% else %}
    <div class="container icon icon-{{ weatherInfo.weather[0].icon }}">
        <h3><strong>{{ weatherInfo.name }}</strong> ({{ weatherInfo.sys.country |title }})</h3>
        <p class="temp">{{ weatherInfo.main.temp }} &#176;</p>
        <p class="description">{{ weatherInfo.weather[0].description|capitalize }}</p>
    </div>
{% endif %}
</div>
